<table class="table">
  <tr><%= image_tag customer.get_profile_image(100, 100) %></tr>
  <tr>
    <th>名前</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>紹介文</th>
    <th><%= customer.profile %></th>
  </tr>
</table>
<div class="row">
  <% if customer == current_customer %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>