<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="navber">
        <h3>会員情報</h3>
      </div>
      <%= render "info", customer: @customer %>
      <div class="navber">
        <h3>楽団情報一覧</h3>
      </div>
      <%= render "public/teams/index", teams: @teams %>
    </div>
    <div class="col-md-8 customer-activities">
      <%= render "public/activities/index", activities: @activities %>
    </div>
  </div>
</div>