<div class="container">
  <div class="row mx-auto">
    <div class="col-md-5 mt-3">
      <%= render "info", customer: @customer %>
      <h3 class="font-weight-bold mt-3">楽団情報一覧</h3>
      <div class="hline"></div>
      <%= render "public/teams/index", teams: @teams %>
    </div>
    <div class="col-md-7 offset-xs-3 customer-activities">
      <%= render "public/activities/index", activities: @activities %>
    </div>
  </div>
</div>