<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="navber">
        <h3>Message</h3>
      </div>
      <table class="table table-hover">
        <% @another_customer_rooms.each do |e| %>
          <tr>
            <td><%= image_tag e.customer.get_profile_image(50, 50), class: "rounded-circle" %></td>
            <td><%= link_to e.customer.name, message_path(e.customer.id) %></td>
            <td><%= Message.find_by(id: e.room.message_ids.last)&.content %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= paginate @another_customer_rooms %>
</div>
