<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="font-weight-bold mt-3">"<%= @content %>"検索結果</h3>
      <div class="hline"></div>
      <% if @records == [] %>
        <h5>一致する検索結果がありません</h5>
      <% else %>
        <%= render "public/teams/index", teams: @records %>
      <% end %>
    </div>
  </div>
</div>