<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10">
    <h2>会員一覧</h2>
    <table class="table has_border">
      <thead>
    		<th>会員ID</th>
    		<th>名前</th>
    		<th>メールアドレス</th>
  		</thead>
  		<tbody>
  		  <% @customers.each do |customer| %>
  		  <tr>
  		    <td><%= customer.id %></td>
  		    <td><%= link_to customer.name, admin_customer_path(customer)  %></td>
  		    <td><%= customer.email %></td>
  		  </tr>
  		  <% end %>
  		</tbody>
    </div>
  </div>
</div>