<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h3 class="font-weight-bold mx-auto my-3">活動情報新編集</h3>
      <div class="hline"></div>
      <%= render "form", activity: @activity, submit: "更新" %>
    </div>
  </div>
</div>
