<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <span class="h3">活動情報一覧</span>
        <%= link_to new_activity_path do %>
          <i class="fa fa-plus-square"></i>
        <% end %>
        <%= render "index", activities: @activities %>
    </div>
  </div>
</div>
