<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>活動情報新規投稿</h2>
      <%= render 'form', activity: @activity, submit: '投稿' %>
    </div>
  </div>
</div>