@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.alert {
  margin: 0!important;
}

.surround {
  min-height: 100vh;
  position: relative;
  padding-bottom: 64px;
  box-sizing: border-box;
}

main {
  min-height: inherit;
  background-color: #F3E2BD;
}

header {
  width: 100%;
  background-color: #025259;
  top: 0;
  .navbar {
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  .navbar-brand {
    font-size: 50px;
    color: #fff;
  }

  .nav-link {
    font-size: 20px;
    color: #fff;
  }

  .navbar-brand:hover, .nav-link:hover {
    color: #D94F04;
  }
}

.navbar-toggler {
  border-color: #fff;
  background-color: #025259;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-outline-success {
  color: #D94F04;
  border-color: #D94F04;
}

.btn-outline-success:hover {
  background: #D94F04;
  border-color: #D94F04;
}

footer {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  background-color: #025259;
  text-align: center;
  p {
    margin: 0;
    color: #fff;
  }
}

.hline {
  border-bottom: 2px solid #384452;
}

a:hover {
  text-decoration: none;
  color: #01b2fe;
}

.img-wrap {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.img-wrap p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 90px;
  font-family: 'Alegreya Sans SC', sans-serif;
  }

  .img-wrap img {
  width: 100%;
  margin-top: 50px;
  }

  .btn {
    border-radius: 4px;
    padding: 8px 15px;
  }

  .btn-primary {
    color: #333;
    font-size: 16px;
    border: 3px solid #333;
    background: transparent;
  }

  .btn-top {
    width: 200px;
  }

  .btn-info {
    width: 120px;
    padding: 14px 15px 10px 15px;
  }

  .btn-bell {
    width: 120px;
    padding: 10px 15px;
  }

  .btn-primary:hover, .btn-tag:hover, .btn-outline-secondary:hover {
    background: #D94F04;
    border: #D94F04;
    color: #fff;
  }

.btn-sm {
  width: 80px;
  padding: 6px 12px;
}

.btn-tag {
  color: #fff;
  background: #025259;
  font-size: 14px;
  padding: 6px 12px;
  margin: 4px;
}

.field_with_errors {
  display: contents
}

#error_explanation {
  border: 2px solid red;
  color: red;
  list-style: none;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul li {
    list-style: none;
  }
}

.form_sign {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  .form_group {
    position: relative;
    margin-bottom: 1rem;
  }
}

table {
  border-spacing: 0;
}

.table th, .table td, .table thead th {
  border-bottom: 1px solid #000;
}

.table th, .table td {
  border-top: transparent;
}

.tag_list {
  border: 1px solid #000;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.current-user {
    color: #fff;
    text-align: right;
    background-color: #D94F04;
    width: fit-content;
    margin: 10px 0 0 auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
}

.visited-user {
    color: #fff;
    margin: 10px;
    background-color: #D94F04;
    text-align: left;
    width: fit-content;
    margin: 10px auto 0 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
}

.message-form {
  vertical-align: bottom;
}
.size {
  font-size: 2rem;
  color: grey;
}

.fa-flag {
  color: black;
}

.card-text {
  font-size: 15px;
}

.customer-activities {
  .card-columns {
    column-count: 2;
  }
}

.n-circle {
  position: absolute;
  padding-left: 0.7rem;
  padding-top: 0rem;
  padding-bottom: 0.6rem;
  color: #D94F04;
}


.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

@media screen and (max-width: 425px) {
  .img-wrap {
  position: relative;
  overflow: hidden;
  height: 250px;
  }

  .img-wrap p {
  position: absolute;
  top: 60%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 50px;
  }
}

@media screen and (max-width: 912px) {
  .btn-top {
    margin: 10px 10px;
  }

  .customer-activities {
    .card-columns {
      column-count: 2;
    }
  }

}

@media screen and (min-width: 576px) {
  .customer-activities {
    .card-columns {
      column-count: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .customer-activities {
    .card-columns {
      column-count: 1;
    }
  }
}

