<table class="table">
  <thead>
    <tr>
      <th>楽団名</th>
      <th>活動場所</th>
      <th>募集パート</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team), class: "underline" %></td>
      <td><%= team.address %></td>
      <td>
        <% team.tags.each do |tag| %>
          <li style="list-style: none;"><%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %></li>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
