<table class="table tag_list mt-4">
 <thead class="text-center">
   <tr>
     <th>パート検索</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <% tag_list.each do |tag| %>
      <%= link_to(search_path(content: tag.name, model:"tag"), class: "btn btn-tag") do %>
        <%= tag.name %>
      <% end %>
    <% end %>
   </td>
  </tr>
 </tbody>
</table>