<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/customers/info", customer: current_customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>楽団情報一覧</h1>

        <%= link_to "新規登録", new_team_path %>
        <%= render "index", teams: @teams, tag_list: @tag_list %>
    </div>
  </div>
</div>