<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>楽団情報登録</h1>
       <%= render 'form', team: @team, submit: '保存' %>
    </div>
  </div>
</div>
  

