<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h3 class="font-weight-bold mt-3">楽団登録</h3>
      <div class="hline"></div>
      <%= render "form", team: @team, submit: "登録" %>
    </div>
  </div>
</div>


