<% notifications = @notifications.where.not(visitor_id: current_customer.id) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 px-5 px-sm-0 mx-auto">
      <h3 class="font-weight-bold mt-3">
        Notification
        <%= link_to notification_path(@notifications), method: :delete do %>
          <i class="far fa-trash-alt size"></i>
        <% end %>
      </h3>
      <div class="hline"></div>
      <% if notifications.exists? %>
        <%= render notifications %>
        <%= paginate notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>